:root {
  --background: #fff;
  --cards-color: #ff6f69;
  --page-title-color: #000;
  --card-size: 145px;
  --table-size: 620px;
}

@media (max-width: 1000px) {
  :root {
    --background: #ccc;
    --card-size: 100px;
    --table-size: 450px;
  }
}

body {
  font-family: 'Coda', cursive;
  background-color: var(--background);
}

.memory-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor) !important;
}

.header > h1 {
  width: 100%;
  color: var(--page-title-color);
  text-align: center;
}

/* Game info */
.game-info {
  display: flex;
  width: var(--table-size);
  flex-flow: row;
}

.game-info div {
  text-align: center;
  width: 50%;
}

.hide-star {
  display: none;
}

.reset {
  cursor: pointer;
}
/* Game table */

ul {
  padding: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  border-radius: 15px;
  font-size: 40px;
  width: var(--card-size);
  height: var(--card-size);
  line-height: var(--card-size);
  background-color: var(--cards-color);
  list-style: none;
  color: white;
  transform: rotateY(180deg);
  border: 1px solid salmon;
}

.game-table {
  width: var(--table-size);
  height: var(--table-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.unselected svg {
  display: none;
}

.unselected {
  transition: 1s;
  background: url('./img/rhino.jpg') top left no-repeat;
  transform: rotateY(0);
}

@keyframes matched {
  0%, 20%, 50%, 80%, 100% {transform: scale(1); }
  40% { transform: scale(1.2); }
  60% { transform: scale(1.1); }
}

.matched {
  animation-fill-mode: both;
  animation: matched 1s 0.5s forwards;
}

@keyframes wrong-shot {
  0%, 20%, 50%, 80%, 100% { transform: rotate(0); }
  40% { transform: rotate(-6deg) translate(-12px); }
  60% { transform: rotate(6deg) translate(12px); }
}

.wrong-shot {
  animation-fill-mode: both;
  animation: wrong-shot 1s 0.5s forwards;
}

.rotate-icon:hover {
  transition: 2s;
  transform: rotateX(180deg);
}

/* Game review */

.game-review {
  display: none;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.restart {
  width: 7em;
  height: 2em;
  border-radius: 6px;
  background-color: var(--cards-color);
  color: #fff;
}