:root {
  --background: #000;
  --cards-color: #ff6f69;
  --page-title-color: #fff;
  --card-size: 145px;
}

@media (max-width: 800px) {
  :root {
    --background: #ccc;
    --card-size: 100px;
  }
}

body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

.memory-game {
  margin: 0 auto;
  width: 750px;
  background-color: var(--cor) !important;
}

.memory-game > h1 {
  width: 100%;
  color: var(--page-title-color);
  text-align: center;
}

ul {
  padding: 0;
}

.card {
  transition: 1s;
  border-radius: 15px;
  margin: 5px;
  font-size: 40px;
  width: var(--card-size);
  height: var(--card-size);
  line-height: var(--card-size);
  background-color: var(--cards-color);
  text-align: center;
  list-style: none;
  float: left;
  color: white;
  transform: rotateY(180deg);
}

.select svg {
  display: none;
}

.select {
  transition: 1s;
  background: url('./img/rhino.jpg') top left no-repeat;
  transform: rotateY(360deg);
}